.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 1000px;
  height: 800px;

  margin: 0;
  padding: 0;

  background-color: red;

  list-style: none;

  li {
    word-break: break-all;
    flex-grow: 1;
    flex-basis: 40px;
    background-color: blueviolet;
  }
}

.container2 {
  display: flex;

  gap: 10px;
  width: 1000px;
  height: 800px;

  margin: 20px 0;
  padding: 0;

  background-color: red;

  list-style: none;

  li {
    flex-basis: 100px;
    flex-grow: 2;
    background-color: blueviolet;

    &:nth-child(odd) {
      flex-grow: 1;
    }
  }
}
